@model TrashCollector.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>@DateTime.Now.DayOfWeek.ToString()'s Route</h1>

<div>
    <h4>For: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName): @Html.DisplayFor(model => model.RouteZipcode)</h4>
</div>
<tbody>

        @foreach (var item in Model.RoutePickUps)
        {
            <tr>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Address) - 
                        @Html.DisplayFor(modelItem => item.Zipcode) -
                        <a asp-action="CustProfile" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
                        @if (item.StartHold > DateTime.Now || item.EndHold < DateTime.Now)
                        {
                            @if (item.IsPickedup == false)
                            {
                                <a class="btn btn-primary" asp-action="ConfirmPickup" asp-route-id="@item.CustomerId">Confirm Pickup</a>
                            }
                            else
                            {
                                <button class="btn btn-primary" asp-action="ConfirmPickup" asp-route-id="@item.CustomerId" disabled>Pickup Complete</button>
                            }
                        }
                        else
                        {
                            <strong>ON HOLD: @Html.DisplayFor(modelItem => item.StartHold) - @Html.DisplayFor(modelItem => item.EndHold)</strong>
                        }
                    </p>
                </td>
            </tr>
        }

</tbody>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit Employee</a> |
    <a asp-action="Routes">See Routes by Day</a>
</div>
