@model TrashCollector.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>@DateTime.Now.DayOfWeek.ToString()'s Route</h1>

<div>
    <h4>For: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName): @Html.DisplayFor(model => model.RouteZipcode)</h4>
</div>
<tbody>
    @foreach (var item in Model.RoutePickUps)
    {
        <tr>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Address) - @Html.DisplayFor(modelItem => item.Zipcode) - @Html.DisplayFor(modelItem => item.PickupDay.PickupDayId) - @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</p>
            </td>
        </tr>
    }
</tbody>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit Employee</a> |
    <a asp-action="Index">Back to List</a>
</div>
