@model IEnumerable<TrashCollector.Models.Suspension>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspension)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartSuspension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSuspension)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuspensionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuspensionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuspensionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
